<%- include("partials/header") %>

<% blogs.forEach(function(blog){ %>
    <div class="content-body">
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" alt="blog image">
        <div><span><%= blog.created %></span></div>
        <p><%= blog.body %> </p>
    </div>

 <% }) %>

 <%- include("partials/footer") %>
